@model OrderApp.Models.Order
@{
    ViewBag.Title = "Удаление заказа";
}

<div>
    <dl class="dl-horizontal">
        <dt>Номер заказа</dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>Город отправителя</dt>
        <dd>
            @Html.DisplayFor(model => model.FromCity)
        </dd>

        <dt>Адрес отправителя</dt>
        <dd>
            @Html.DisplayFor(model => model.FromAdress)
        </dd>

        <dt>Город получателя</dt>
        <dd>
            @Html.DisplayFor(model => model.ToCity)
        </dd>

        <dt>Адрес получателя</dt>
        <dd>
            @Html.DisplayFor(model => model.ToAdress)
        </dd>

        <dt>Вес груза, кг</dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>Дата забора груза</dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>


    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>