@model IEnumerable<OrderApp.Models.Order>
@{
    ViewBag.Title = "Все заказы";
}

<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><td>Имя</td><td>Возраст</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.FromCity</td><td>@item.FromAdress</td><td>@item.ToCity</td><td>@item.ToAdress</td><td>@item.Weight</td><td>@item.Date</td></tr>
            }
    </table>
